.dropButton{
    cursor:pointer;
    width:70px;
    height:20px;
    background:grey;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.dropMenu {
    margin-left:-10px;
    width:90px;
    visibility:hidden;
    opacity:0;
    transform:translateY(-2em);
    transition: all 0.3s ease 0s;
}

.dropButton:hover .dropMenu {
    visibility:visible;
    opacity:1;
    transform: translateY(0%);
    background:grey;
}

.menuItem {
    padding:10px;
}

.menuItem:hover {
    background:#888;
}
