@font-face {
  font-family: montserrat;
  src: url('fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: white;
}

h1 {
  font-family: 'montserrat', Fallback, sans-serif;
  color: white;
  font-size: 48px;
  text-shadow: black 3px 3px;
}

h2 {
  font-family: 'montserrat', Fallback, sans-serif;
  font-size: 32px;
}

p {
  font-family: 'montserrat', Fallback, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/headerbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  margin: 0px;
  width: 100%;
  height: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100px;
  background-color: #2d3e50;
  color: white;
}

.mainWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.department {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.staffContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.person {
  display: flex;
  flex-direction: column;
}

.profilePic {
  border-radius: 10px;
  height: 400px;
}
